<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224436038053-93ffpq5flljm15no7ib03ce3siogd0jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224436038053-93ffpq5flljm15no7ib03ce3siogd0jf</string>
	<key>API_KEY</key>
	<string>AIzaSyDuQftOjL1rdfYF2D6cEbu_4WZHzYfCXZU</string>
	<key>GCM_SENDER_ID</key>
	<string>224436038053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARMenu.VirtualMenu</string>
	<key>PROJECT_ID</key>
	<string>virtual-menu-59b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-menu-59b9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224436038053:ios:e8d96a5870d2c7a9b8604c</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-menu-59b9e.firebaseio.com</string>
</dict>
</plist>
