#Name {
  color: white;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

#TagLine {
  text-align: left;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#TagLine2 {
  text-align: left;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#mission {
  top: 100px;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#statement {
  text-align: center;
  color: black;
  padding-left: 200px;
  font-family: "Montserrat", sans-serif;
}

#why {
  margin-top: -100px;
  margin-bottom: 40px;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#want {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

#whybox1 #whyrest {
  text-align: left;
  color: black;
  right: 400px;
}

#whybox2 #whycust {
  text-align: left;
  color: black;
  left: 400px;
}

#how {
  text-align: right;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#restaurant {
  text-align: right;
  color: white;
  font-family: "Montserrat", sans-serif;
}

button {
  background-color: #454748;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
#sameline {
  display: flex;
  justify-content: space-between;
}

svg path {
  fill: #f88379 !important;
}

svg {
  z-index: -1;
}

#b1 {
  background-color: #454748;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#first {
  padding: 50px;
  margin: 0;
  padding: 0;
}

#first #Name {
  position: absolute;
  top: 0;
  left: 20px;
}

#first button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#first #TagLine {
  position: absolute;
  top: 100px;
  left: 20px;
}

#first #TagLine2 {
  position: absolute;
  top: 200px;
  left: 20px;
}

#first #slant {
  position: absolute;
  top: 25px;
  left: 720px;
}

#third {
  /* background-color: #f88379; */
  padding: 50px;
  margin: 0;
  padding: 0;
  /* right: 400px; */
}

#third #how {
  position: absolute;
  top: 850px;
  right: 0;
  right: 100px;
}

#third #restaurant {
  position: absolute;
  top: 950px;
  right: 0;
  right: 100px;
  left: 1000px;
}

#third #straight {
  position: absolute;
  top: 800px;
  right: 1000px;
}

#third #straight1 {
  position: absolute;
  top: 800px;
  right: 700px;
}

#third #straight2 {
  position: absolute;
  top: 800px;
  right: 400px;
}

#fourth {
  background-color: white;
  padding: 50px;
  margin: 0;
  padding: 0;
  /* right: 400px; */
}

#whybox1 {
  position: relative;
  width: 50%;
  text-align: left;
  background: #aaaaaa;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}

#whybox2 {
  position: relative;
  width: 50%;
  left: 670px;
  text-align: left;
  background: #aaaaaa;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

#fifth {
  background-color: #f88379;
  padding-bottom: 100px;
  bottom: 0;
  margin: 0;
}

#box1 {
  position: relative;
  left: 100px;
  background: white;
  border: 1px solid black;
  margin-top: 10px;
  width: fit-content;
  padding-right: 200px;
}

#box2 {
  position: relative;
  left: 150px;
  background: white;
  border: 1px solid black;
  margin-top: 10px;
  width: fit-content;
  padding-right: 200px;
}

#box3 {
  position: relative;
  left: 200px;
  background: white;
  border: 1px solid black;
  margin-top: 10px;
  width: fit-content;
  padding-right: 200px;
}

.num {
  position: relative;
  border-radius: 50%;
  color: white;
  background-color: #454748;
  padding: 20px;
  left: -10px;
}
